In [2]:
#import dependencies 
import pandas as pd 
import requests 
import json 
import snowflake.connector
import config 
import os

In [3]:
#cereate connection to specigic database/schema 
con = snowflake.connector.connect(
    user=config.keys['user'],
    password=config.keys['password'],
    account=config.keys['account'],
    warehouse = 'WAREHOUSE_BLUE',
    database  = 'DATABASE_BLUE',
    schema = 'SCHEMA_BLUE'
)

In [4]:
create_table_query = (
    """create or replace TABLE DATABASE_BLUE.SCHEMA_BLUE.BLUE4 (
	"fiscal_year" VARCHAR(50),
	"payroll_number" VARCHAR(50),
	"agency_name" VARCHAR(50),
	"last_name" VARCHAR(50),
	"first_name" VARCHAR(50),
	"mid_init" VARCHAR(50),
	"agency_start_date" VARCHAR(50),
	"work_location_borough" VARCHAR(50),
	"title_description" VARCHAR(50),
	"leave_status_as_of_june_30" VARCHAR(50),
	"base_salary" VARCHAR(50),
	"pay_basis" VARCHAR(50),
	"regular_hours" VARCHAR(50),
	"regular_gross_paid" VARCHAR(50),
	"ot_hours" VARCHAR(50),
	"total_ot_paid" VARCHAR(50),
	"total_other_pay" VARCHAR(50)
);""" 
) 

# execute
con.cursor().execute(create_table_query)

In [11]:
#get dataset info for funciton 
#get row count for dataset 
data_size = requests.get("https://data.cityofnewyork.us/resource/k397-673e.json?$select=count(*)")
data_size.json()
data_size = data_size.json()[0]['count']
data_size

'5662713'

In [ ]:
#get years in dataset
years = requests.get("https://data.cityofnewyork.us/resource/k397-673e.json?$select=distinct fiscal_year")
years = years.json()
years = [i['fiscal_year'] for i in years]
years.sort()

In [34]:
years

['2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023']

In [35]:
len(years)

10

In [ ]:
#function to get data

In [ ]:
for i in years: 
    year_filter = i
    #define function variables 
    url = f"https://data.cityofnewyork.us/resource/k397-673e.json?$limit={data_size}&$where=fiscal_year={year_filter}")
    #using dataset size as arbitrary limit
    response = requests.get(url)
    
    if response.status_code == 200:
        continue
    else: 
        break 
        
    dataframe = pd.DataFrame(response.json())
    
    print (years[i]['fiscal_year'])
    
    del df data 
    
    #save format "year"+ data 
    #save to temp folder 
    #delete file and variable after use 
    
    
    file_path = f'temp/{test_year}_data.csv'
if os.path.isfile(file_path):
    os.remove(file_path)